body {
  font-family: Arial, Helvetica, sans-serif
}

h1 {
  font-size: 25pt;
  text-align: center
}


#navbar ul { 
  margin: 0; 
	padding: 5px; 
	list-style-type: none; 
	text-align: right; 
  background-color: #000; 
  font-size: 15pt
} 

#navbar ul li {  
  display: inline; 
} 

#navbar ul li a { 
  text-decoration: none; 
	padding: .2em 1em; 
	color: #fff; 
  background-color: #000;
  
} 
#navbar ul li a:hover { 
  color: #000; 
  background-color: #fff; 
  }

.banner {
  text-align: center
}

.banner button {
  background-color: #4CAF50;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-bottom: 2em;
  cursor: pointer;
}

.banner p {
  text-align: left;
  margin-left: 50px;
  font-size: 16pt;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 60%;
  table-layout: fixed
}

td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

table, td {
    border: 1px solid black;
}

.row-name {
  width: 75%
}

.row-edit input[type=submit] {
  background-color: cornflowerblue;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 16px 28px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.row-delete input[type=submit] {
  background-color: red;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 16px 21px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.create-form {

}

.create-form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.create-form input[type=text] {
  
}