.input-form input[type=submit] {
  width: 50%;
  font-size: 18px;
  background-color: red;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 16px 21px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.input-form button {
  width: 50%;
  font-size: 18px;
  background-color: cornflowerblue;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 16px 21px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 25px;
  outline-style: dashed;
  outline-color: cornflowerblue;
}

#subtotal {
  background-color: antiquewhite;
  color: darkred;
}

#invoice-total {
  margin: auto;
  width: 50%;
  text-align: justify;
  }

#total {
  color: indianred;
}

#invoice-status {
  color: indianred;
}