    <nav id="navbar">
      <ul>
      <li style="float:left"><a class="logo" href="/merchants">LittleShop</a></li>
      <li><a href="/merchants">Merchants</a></li>
      <li><a href="/items">Items</a></li>
      <li><a href="/invoices">Invoices</a></li>
      </ul>
    </nav>
<form class='edit-invoice' action='/invoices/<%= @invoice.id %>' method='POST'>
  <p>Edit Invoice No. <%= @invoice.id %>:</p>
  <input type='hidden' name='_method' value='PUT'>
  <input type='integer' name='invoice[merchant_id]' value='<%= @invoice.merchant_id %>'>
  <input type='text' name='invoice[status]' value='<%= @invoice.status %>'>
  <input type='submit' value='Edit Invoice'>
</form>
