<% @merchants.each do |merchant| %>
  <ul>
    <li><a href="/merchants/<%=merchant.id%>"><%=merchant.name%></a></li>
    <form action="/merchants/<%=merchant.id%>/edit" method="GET">
      <input type="hidden" name="_method" value="EDIT">
      <input type="submit" value="Edit">
    </form>
    <form action="/merchants/<%= merchant.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete">
    </form>
  </ul>
<% end %>
