<h1 class="title"><%= @merchant.name %></h1>

<form action="/merchants/<%= @merchant.id %>" method="POST">
  <input class="delete=button" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>


