<nav id="navbar">
  <ul>
    <li style="float:left"><a class="logo" href="/merchants">LittleShop</a></li>
    <li><a href="/merchants">Merchants</a></li>
    <li><a href="/items">Items</a></li>
    <li><a href="/invoices">Invoices</a></li>
  </ul>
</nav>
<div class="banner">
  <h1 class="title">Items</h1>
</div>
<form class="new-item", action="/items" method="post">
  <p>Enter Item Name:</p>
  <input type="text" name="item[title]" value='Title'>
  <input type="text" name="item[description]" value='Description'>
  <input type="text" name="item[price]" value='Price'>
  <input type="text" name="item[image]" value='Image'>
  <input type="submit" value="Create Item">
</form>
